{% extends 'layout.html' %}

{% block content %}
    <h1>Github Usage</h1>
    <div class="row">
        <div class="col-sm-6">
            <form role="form" action="#" id="form">
                <div class="form-group">
                    <label for="user">Github Username</label>
                    <input type="text" class="form-control" id="user" name="user" placeholder="Github username">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>

    <div class="row results">
        <hr>
        
        <div class="col-md-12">
            <h2 class="username"></h2>
        </div>
        <div class="col-md-12">
            <h3>Number of Total Commits Over Past 12 Weeks</h3>
            <svg id="recentCommitsChart" class="canvas"></svg>
        </div>
        <div class="col-md-12">
            <h3>Number of Commits Per Repo</h3>
            <svg id="commitsByRepoChart" class="canvas"></svg>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="/js/model.js"></script>
    <script src="/js/charts/commits-by-repo.js"></script>
    <script src="/js/charts/commits-recent.js"></script>
    <script src="/js/main.js"></script>

    {% if globals.autoSubmit %}
        <script>
            $(document).ready(function() {
                $('#form').submit();
            });
        </script>
    {% endif %}
{% endblock %}
